*.lock
*.bin
cache.properties
bin/
.idea/
.classpath
.settings/
bin/*.*
.project
.gradle/
build/
!consumer/com
!consumer/.gradle/*
consumer/build
consumer/bin
target/
consumer/com
consumer/.gradle

.gradle
.settings
bin
build
*.iml
.vscode